.password {
    background-image: linear-gradient(to bottom left,#67b6ce96,#7da60c7d);
    padding: 15px;
    text-align: left;
  }
  .showPassword{
    margin-left:5px;
  }
  .showPassword:hover{
    cursor: pointer;
  }



/*sharepassword form*/
.shareForm{
  width: 80vw;
  height: 60vh;
  text-align: center;
}
.userToShare{
  margin: 5px
}